<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kurrant_task1.repository.ArticleMapper">
    <insert id="createArticle" parameterType="map" useGeneratedKeys="true" keyProperty="article_id">
        INSERT INTO cms__article(board_id, title, content_html, content_string)
        VALUES (#{article.board_id}, #{article.title}, #{article.content_html}, #{article.content_string})
    </insert>

    <select id="getArticleList" resultType="com.example.kurrant_task1.model.Article">
        SELECT *
        FROM cms__article
        ORDER BY created_datetime DESC;
    </select>

    <select id="getArticleListByBoardId" resultType="com.example.kurrant_task1.model.Article">
        SELECT *
        FROM cms__article
        WHERE board_id = #{boardId}
        ORDER BY created_datetime DESC;
    </select>

    <select id="getBoardName" resultType="string">
        SELECT name_ko
        FROM cms__board
        WHERE board_id = #{boardId};
    </select>

    <select id="retrieveArticle" resultType="com.example.kurrant_task1.model.Article">
        SELECT *
        FROM cms__article
        WHERE board_id = #{boardId}
          AND article_id = #{articleId};
    </select>

    <update id="plusViewCount" parameterType="Long">
        UPDATE cms__article
        SET view_count = view_count + 1
        WHERE board_id = #{boardId} AND article_id = #{articleId}
    </update>

    <delete id="deleteArticle" parameterType="Long">
        DELETE
        FROM cms__article
        WHERE board_id = #{boardId} AND article_id = #{articleId}
    </delete>

    <select id="searchArticleByKeyword" resultType="com.example.kurrant_task1.model.Article">
        SELECT *
        FROM cms__article
        WHERE title LIKE CONCAT('%',#{keyword},'%')
    </select>

    <select id="searchArticleByDate" resultType="com.example.kurrant_task1.model.Article">
        SELECT *
        FROM cms__article
        WHERE created_datetime BETWEEN #{startDateTime} AND #{endDateTime}
    </select>


</mapper>